<h2><%= @event.name %></h2>

<div class="presentations">
	<ul class= "track-list">
		<% @track.presentations.each do |presentation| %>
			<li><%= link_to "#{presentation.name}", presentation_path(event)%></li>
		<% end %>	
</ul>
</div>