<h2>The Track is: <%= @track.name %></h2>

<h3>Presenters:</h3>

	<ul class= "track-list">
		<% @track.presentations.each do |presentation| %>
			<li><%= link_to "#{presentation.name}", presentation_path(presentation)%></li>
		<% end %>	
	</ul>

	<h3 class="center"><button type="submit" class="button button-large button-highlight">MailJet that Shit!</button></h3>

<h2>

