<!-- <img src="assets/images/landing-cover.jpg" id="bg" alt="cover image">
 -->
<div class="container">
  <!-- <img src="./images/landing-cover.jpg" alt="an image"> -->

	<div class="row">
		<div class="col-sm-12">
			<h1>Presenterthon</h1>
			<p>test</p>
		</div>
	</div>
</div>